.logo{
    height: 60px;
    width: auto;
}
.image1{
   background-position:center !important;
   background-repeat: no-repeat !important;
   background-color: white;
  

}

.section-follow .i{
    margin:200px 40px !important;
    color:red !important;
}
